In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
player_data_to_load = "data/backupdata/Seasons_Stats.csv"
champion_data_to_load = "data/finals_results_by_year.csv"
runner_up_data_to_load = "data/runnerupsdata.csv"

# Read School and Student Data File and store into Pandas DataFrames
player_data = pd.read_csv(player_data_to_load)
champion_data = pd.read_csv(champion_data_to_load)
runnerup_data = pd.read_csv(runner_up_data_to_load)


# Combine the data into a single dataset.  
#school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#school_data_complete

In [2]:
champion_data

    Year                Winners              Runner Up
0   1950     Minneapolis Lakers     Syracuse Nationals
1   1951       Rochester Royals        New York Knicks
2   1952     Minneapolis Lakers        New York Knicks
3   1953     Minneapolis Lakers        New York Knicks
4   1954     Minneapolis Lakers     Syracuse Nationals
..   ...                    ...                    ...
66  2016    Cleveland Cavaliers  Golden State Warriors
67  2017  Golden State Warriors    Cleveland Cavaliers
68  2018  Golden State Warriors    Cleveland Cavaliers
69  2019        Toronto Raptors  Golden State Warriors
70  2020     Los Angeles Lakers             Miami Heat

[71 rows x 3 columns]

In [3]:
player_data["Player"] = player_data['Player'].str.replace('*','')

In [4]:
player_data_df = player_data[player_data['Year'] > 1950]
player_data_df

,Unnamed: 0,Year,Player,Pos,Age,Tm,name,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
138,313,1951,Paul Arizin,SF,22.0,PHW,Philadelphia Warriors,65,NaN,NaN,...,0.793,NaN,NaN,640.0,138,NaN,NaN,NaN,284,1121
139,314,1951,Curly Armstrong,G-F,32.0,FTW,Fort Wayne Pistons,38,NaN,NaN,...,0.644,NaN,NaN,89.0,77,NaN,NaN,NaN,97,202
140,317,1951,Ed Bartels,F,25.0,WSC,Washington Capitals,17,NaN,NaN,...,0.522,NaN,NaN,84.0,12,NaN,NaN,NaN,54,72
141,319,1951,Ed Beach,F,22.0,MNL,Minneapolis Lakers,11,NaN,NaN,...,0.667,NaN,NaN,25.0,2,NaN,NaN,NaN,14,22
142,323,1951,Nelson Bobb,PG,26.0,PHW,Philadelphia Warriors,53,NaN,NaN,...,0.557,NaN,NaN,101.0,82,NaN,NaN,NaN,83,148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21867,24686,2017,Cody Zeller,PF,24.0,CHO,Charlotte Hornets,62,58.0,1725.0,...,0.679,135.0,270.0,405.0,99,62.0,58.0,65.0,189,639
21868,24687,2017,Tyler Zeller,C,27.0,BOS,Boston Celtics,51,5.0,525.0,...,0.564,43.0,81.0,124.0,42,7.0,21.0,20.0,61,178
21869,24688,2017,Stephen Zimmerman,C,20.0,ORL,Orlando Magic,19,0.0,108.0,...,0.600,11.0,24.0,35.0,4,2.0,5.0,3.0,17,23
21870,24689,2017,Paul Zipser,SF,22.0,CHI,Chicago Bulls,44,18.0,843.0,...,0.775,15.0,110.0,125.0,36,15.0,16.0,40.0,78,240
21871,24690,2017,Ivica Zubac,C,19.0,LAL,Los Angeles Lakers,38,11.0,609.0,...,0.653,41.0,118.0,159.0,30,14.0,33.0,30.0,66,284

In [5]:
# df = player_data_df[player_data_df['Year'] == 1951]
# df

In [6]:
#just need year and Team name

# winner_summary = champion_data[{"Year","Team"}]
# winner_summary

In [7]:
# runnerup_summary = runnerup_data[{"Year","Team"}]
# runnerup_summary

In [8]:
# #get a merged list of all winners runner up or champion
# championship_complete = pd.merge(winner_summary, runnerup_summary, how="inner", on=["Year", "Year"])

In [9]:
# championship_complete

In [10]:
# #rename 
# rename_summary= championship_complete.rename(columns= {"Team_x": "Winner", "Team_y": "Runner_Up"})
# rename_summary.head()

In [11]:
# clean_winner_df = rename_summary.drop_duplicates(subset=['Year', 'Winner', "Runner_Up"], keep='first')

In [12]:
# clean_winner_df.head(5)

In [13]:
winning_team_df = pd.merge(champion_data, player_data_df, how="inner", left_on = ["Year", "Winners"], right_on = ["Year", "name"])
winning_team_df.head()

,Year,Winners,Runner Up,Unnamed: 0,Player,Pos,Age,Tm,name,G,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1952,Minneapolis Lakers,New York Knicks,534,Bob Harrison,SG,24.0,MNL,Minneapolis Lakers,65,...,0.718,NaN,NaN,160.0,188,NaN,NaN,NaN,203,401
1,1952,Minneapolis Lakers,New York Knicks,535,Lew Hitch,PF,22.0,MNL,Minneapolis Lakers,61,...,0.670,NaN,NaN,243.0,50,NaN,NaN,NaN,89,217
2,1952,Minneapolis Lakers,New York Knicks,539,Joe Hutton,SG,23.0,MNL,Minneapolis Lakers,60,...,0.700,NaN,NaN,85.0,62,NaN,NaN,NaN,110,155
3,1952,Minneapolis Lakers,New York Knicks,556,Slater Martin,PG,26.0,MNL,Minneapolis Lakers,66,...,0.747,NaN,NaN,228.0,249,NaN,NaN,NaN,226,616
4,1952,Minneapolis Lakers,New York Knicks,565,George Mikan,C,27.0,MNL,Minneapolis Lakers,64,...,0.780,NaN,NaN,866.0,194,NaN,NaN,NaN,286,1523

In [14]:
player_winning_df = winning_team_df[["Year", "Player"]]
player_winning_df

     Year            Player
0    1952      Bob Harrison
1    1952         Lew Hitch
2    1952        Joe Hutton
3    1952     Slater Martin
4    1952      George Mikan
..    ...               ...
881  2017     Zaza Pachulia
882  2017     Klay Thompson
883  2017  Anderson Varejao
884  2017     Briante Weber
885  2017        David West

[886 rows x 2 columns]

In [15]:
winner_stats_df = player_winning_df.groupby("Player").count()
winner_stats_df.rename(columns = {"Year" : "Championship Wins"}, inplace = True)
winner_stats_df.reset_index(inplace = True)
winner_stats_df

                Player  Championship Wins
0           A.C. Green                  3
1        Adam Morrison                  2
2        Adrian Branch                  1
3      Adrian Caldwell                  1
4       Adrian Dantley                  1
..                 ...                ...
549   Wilt Chamberlain                  2
550  Woody Sauldsberry                  1
551          Zan Tabak                  1
552      Zaza Pachulia                  1
553     Zeljko Rebraca                  1

[554 rows x 2 columns]

In [16]:
runnerup_team_df = pd.merge(champion_data, player_data_df, how="inner", left_on = ["Year", "Runner Up"], right_on = ["Year", "name"])
runnerup_team_df.head()

,Year,Winners,Runner Up,Unnamed: 0,Player,Pos,Age,Tm,name,G,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1951,Rochester Royals,New York Knicks,325,Vince Boryla,SF,23.0,NYK,New York Knicks,66,...,0.837,NaN,NaN,249.0,182,NaN,NaN,NaN,244,982
1,1951,Rochester Royals,New York Knicks,345,Nat Clifton,PF,28.0,NYK,New York Knicks,65,...,0.532,NaN,NaN,491.0,162,NaN,NaN,NaN,269,562
2,1951,Rochester Royals,New York Knicks,359,Ray Ellefson,C,28.0,NYK,New York Knicks,3,...,1.000,NaN,NaN,8.0,0,NaN,NaN,NaN,6,4
3,1951,Rochester Royals,New York Knicks,364,Harry Gallatin,F-C,23.0,NYK,New York Knicks,66,...,0.732,NaN,NaN,800.0,180,NaN,NaN,NaN,244,845
4,1951,Rochester Royals,New York Knicks,388,Gene James,F,25.0,NYK,New York Knicks,6,...,0.500,NaN,NaN,4.0,4,NaN,NaN,NaN,7,3

In [17]:
runnerup_df = runnerup_team_df[["Year", "Player"]]
player_runnerup_df = runnerup_df[runnerup_df['Year'] > 1951]
player_runnerup_df

     Year            Player
13   1952      Vince Boryla
14   1952       Nat Clifton
15   1952    Harry Gallatin
16   1952     George Kaftan
17   1952         Ray Lumpp
..    ...               ...
877  2017        J.R. Smith
878  2017       Edy Tavares
879  2017  Tristan Thompson
880  2017    Deron Williams
881  2017  Derrick Williams

[869 rows x 2 columns]

In [18]:
runnerup_stats_df = player_runnerup_df.groupby("Player").count()
runnerup_stats_df.rename(columns = {"Year" : "RunnerUp Count"}, inplace = True)
runnerup_stats_df.reset_index(inplace = True)
runnerup_stats_df

                 Player  RunnerUp Count
0            A.C. Green               2
1            A.J. Price               1
2           Aaron McKie               1
3        Aaron Williams               2
4            Adam Keefe               2
..                  ...             ...
630         Willis Reed               1
631    Wilt Chamberlain               4
632            World B.               1
633           Zan Tabak               1
634  Zydrunas Ilgauskas               2

[635 rows x 2 columns]

In [19]:
players_updated_df = pd.merge(winner_stats_df, player_data_df, how="right", on = "Player")
players_updated_df

,Player,Championship Wins,Unnamed: 0,Year,Pos,Age,Tm,name,G,GS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Paul Arizin,NaN,313,1951,SF,22.0,PHW,Philadelphia Warriors,65,NaN,...,0.793,NaN,NaN,640.0,138,NaN,NaN,NaN,284,1121
1,Paul Arizin,NaN,488,1952,SF,23.0,PHW,Philadelphia Warriors,66,NaN,...,0.818,NaN,NaN,745.0,170,NaN,NaN,NaN,250,1674
2,Paul Arizin,NaN,913,1955,SF,26.0,PHW,Philadelphia Warriors,72,NaN,...,0.776,NaN,NaN,675.0,210,NaN,NaN,NaN,270,1512
3,Paul Arizin,NaN,1022,1956,SF,27.0,PHW,Philadelphia Warriors,72,NaN,...,0.810,NaN,NaN,539.0,189,NaN,NaN,NaN,282,1741
4,Paul Arizin,NaN,1130,1957,SF,28.0,PHW,Philadelphia Warriors,71,NaN,...,0.829,NaN,NaN,561.0,150,NaN,NaN,NaN,274,1817
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21729,Troy Williams,NaN,24674,2017,SF,22.0,HOU,Houston Rockets,6,3.0,...,0.857,9.0,15.0,24.0,6,3.0,1.0,6.0,18,58
21730,Kyle Wiltjer,NaN,24675,2017,PF,24.0,HOU,Houston Rockets,14,0.0,...,0.500,4.0,6.0,10.0,2,3.0,1.0,5.0,4,13
21731,Stephen Zimmerman,NaN,24688,2017,C,20.0,ORL,Orlando Magic,19,0.0,...,0.600,11.0,24.0,35.0,4,2.0,5.0,3.0,17,23
21732,Paul Zipser,NaN,24689,2017,SF,22.0,CHI,Chicago Bulls,44,18.0,...,0.775,15.0,110.0,125.0,36,15.0,16.0,40.0,78,240
21733,Ivica Zubac,NaN,24690,2017,C,19.0,LAL,Los Angeles Lakers,38,11.0,...,0.653,41.0,118.0,159.0,30,14.0,33.0,30.0,66,284

In [20]:
players_complete_df = players_updated_df.merge(runnerup_stats_df, how = "left", on = "Player")
players_complete_df

,Player,Championship Wins,Unnamed: 0,Year,Pos,Age,Tm,name,G,GS,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,RunnerUp Count
0,Paul Arizin,NaN,313,1951,SF,22.0,PHW,Philadelphia Warriors,65,NaN,...,NaN,NaN,640.0,138,NaN,NaN,NaN,284,1121,NaN
1,Paul Arizin,NaN,488,1952,SF,23.0,PHW,Philadelphia Warriors,66,NaN,...,NaN,NaN,745.0,170,NaN,NaN,NaN,250,1674,NaN
2,Paul Arizin,NaN,913,1955,SF,26.0,PHW,Philadelphia Warriors,72,NaN,...,NaN,NaN,675.0,210,NaN,NaN,NaN,270,1512,NaN
3,Paul Arizin,NaN,1022,1956,SF,27.0,PHW,Philadelphia Warriors,72,NaN,...,NaN,NaN,539.0,189,NaN,NaN,NaN,282,1741,NaN
4,Paul Arizin,NaN,1130,1957,SF,28.0,PHW,Philadelphia Warriors,71,NaN,...,NaN,NaN,561.0,150,NaN,NaN,NaN,274,1817,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21729,Troy Williams,NaN,24674,2017,SF,22.0,HOU,Houston Rockets,6,3.0,...,9.0,15.0,24.0,6,3.0,1.0,6.0,18,58,NaN
21730,Kyle Wiltjer,NaN,24675,2017,PF,24.0,HOU,Houston Rockets,14,0.0,...,4.0,6.0,10.0,2,3.0,1.0,5.0,4,13,NaN
21731,Stephen Zimmerman,NaN,24688,2017,C,20.0,ORL,Orlando Magic,19,0.0,...,11.0,24.0,35.0,4,2.0,5.0,3.0,17,23,NaN
21732,Paul Zipser,NaN,24689,2017,SF,22.0,CHI,Chicago Bulls,44,18.0,...,15.0,110.0,125.0,36,15.0,16.0,40.0,78,240,NaN
21733,Ivica Zubac,NaN,24690,2017,C,19.0,LAL,Los Angeles Lakers,38,11.0,...,41.0,118.0,159.0,30,14.0,33.0,30.0,66,284,NaN

In [21]:
players_complete_df.count()

Player               21734
Championship Wins     5408
Unnamed: 0           21734
Year                 21734
Pos                  21734
Age                  21729
Tm                   21734
name                 21734
G                    21734
GS                   16658
MP                   21628
PER                  21618
TS%                  21648
3PAr                 17203
FTr                  21635
ORB%                 18989
DRB%                 18989
TRB%                 19659
AST%                 20432
STL%                 18989
BLK%                 18989
TOV%                 17871
USG%                 17929
blanl                    0
OWS                  21729
DWS                  21729
WS                   21729
WS/48                21618
blank2                   0
OBPM                 18994
DBPM                 18994
BPM                  18994
VORP                 18994
FG                   21734
FGA                  21734
FG%                  21635
3P                   17291
3PA                  17291
3P%                  14059
2P                   21734
2PA                  21734
2P%                  21606
eFG%                 21635
FT                   21734
FTA                  21734
FT%                  20923
ORB                  18994
DRB                  18994
TRB                  21734
AST                  21734
STL                  18994
BLK                  18994
TOV                  17934
PF                   21734
PTS                  21734
RunnerUp Count        6297
dtype: int64

In [22]:
final_df = players_complete_df[["Year", "Player", "Pos", 'Age', "name", 'Championship Wins', 'RunnerUp Count', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PER','FG%', '3P%', 'FTA','FT%', 'PTS']]
final_df.count()

Year                 21734
Player               21734
Pos                  21734
Age                  21729
name                 21734
Championship Wins     5408
RunnerUp Count        6297
TRB                  21734
AST                  21734
STL                  18994
BLK                  18994
TOV                  17934
PF                   21734
PER                  21618
FG%                  21635
3P%                  14059
FTA                  21734
FT%                  20923
PTS                  21734
dtype: int64