In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Create Variables for csv files
player_data_to_load = "data/backupdata/Seasons_Stats.csv"
champion_data_to_load = "data/finals_results_by_year.csv"
runner_up_data_to_load = "data/runnerupsdata.csv"
salary_data_to_load = "data/NBA Players - Advanced Season Stats.csv"

# Read data into DataFrames
player_data = pd.read_csv(player_data_to_load)
champion_data = pd.read_csv(champion_data_to_load)
runnerup_data = pd.read_csv(runner_up_data_to_load)
salary_data = pd.read_csv(salary_data_to_load)

C:\Users\bisma\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (18,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
# Review the Championship DataFrame
champion_data

    Year                Winners              Runner Up
0   1950     Minneapolis Lakers     Syracuse Nationals
1   1951       Rochester Royals        New York Knicks
2   1952     Minneapolis Lakers        New York Knicks
3   1953     Minneapolis Lakers        New York Knicks
4   1954     Minneapolis Lakers     Syracuse Nationals
..   ...                    ...                    ...
66  2016    Cleveland Cavaliers  Golden State Warriors
67  2017  Golden State Warriors    Cleveland Cavaliers
68  2018  Golden State Warriors    Cleveland Cavaliers
69  2019        Toronto Raptors  Golden State Warriors
70  2020     Los Angeles Lakers             Miami Heat

[71 rows x 3 columns]

In [3]:
# Remove "*" denoting player performance in a particular game from Player name column
player_data["Player"] = player_data['Player'].str.replace('*','')

In [4]:
# Data prior to 1951 does not include the TRB stat, filter out any data prior to 1951
player_data_df = player_data[player_data['Year'] > 1950]
player_data_df.rename(columns = {"name": "Team"}, inplace = True)
player_data_df

C:\Users\bisma\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Unnamed: 0,Year,Player,Pos,Age,Tm,Team,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
138,313,1951,Paul Arizin,SF,22,PHW,Philadelphia Warriors,65,NaN,NaN,...,0.793,NaN,NaN,640.0,138,NaN,NaN,NaN,284,1121
139,314,1951,Curly Armstrong,G-F,32,FTW,Fort Wayne Pistons,38,NaN,NaN,...,0.644,NaN,NaN,89.0,77,NaN,NaN,NaN,97,202
140,317,1951,Ed Bartels,F,25,WSC,Washington Capitals,17,NaN,NaN,...,0.522,NaN,NaN,84.0,12,NaN,NaN,NaN,54,72
141,319,1951,Ed Beach,F,22,MNL,Minneapolis Lakers,11,NaN,NaN,...,0.667,NaN,NaN,25.0,2,NaN,NaN,NaN,14,22
142,323,1951,Nelson Bobb,PG,26,PHW,Philadelphia Warriors,53,NaN,NaN,...,0.557,NaN,NaN,101.0,82,NaN,NaN,NaN,83,148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21867,24686,2017,Cody Zeller,PF,24,CHO,Charlotte Hornets,62,58.0,1725.0,...,0.679,135.0,270.0,405.0,99,62.0,58.0,65.0,189,639
21868,24687,2017,Tyler Zeller,C,27,BOS,Boston Celtics,51,5.0,525.0,...,0.564,43.0,81.0,124.0,42,7.0,21.0,20.0,61,178
21869,24688,2017,Stephen Zimmerman,C,20,ORL,Orlando Magic,19,0.0,108.0,...,0.600,11.0,24.0,35.0,4,2.0,5.0,3.0,17,23
21870,24689,2017,Paul Zipser,SF,22,CHI,Chicago Bulls,44,18.0,843.0,...,0.775,15.0,110.0,125.0,36,15.0,16.0,40.0,78,240
21871,24690,2017,Ivica Zubac,C,19,LAL,Los Angeles Lakers,38,11.0,609.0,...,0.653,41.0,118.0,159.0,30,14.0,33.0,30.0,66,284

In [5]:
# Merge championship data with player data to find players on championship teams
winning_team_df = pd.merge(champion_data, player_data_df, how="inner",\
                           left_on = ["Year", "Winners"], right_on = ["Year", "Team"])
winning_team_df.head()

,Year,Winners,Runner Up,Unnamed: 0,Player,Pos,Age,Tm,Team,G,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1952,Minneapolis Lakers,New York Knicks,534,Bob Harrison,SG,24,MNL,Minneapolis Lakers,65,...,0.718,NaN,NaN,160.0,188,NaN,NaN,NaN,203,401
1,1952,Minneapolis Lakers,New York Knicks,535,Lew Hitch,PF,22,MNL,Minneapolis Lakers,61,...,0.670,NaN,NaN,243.0,50,NaN,NaN,NaN,89,217
2,1952,Minneapolis Lakers,New York Knicks,539,Joe Hutton,SG,23,MNL,Minneapolis Lakers,60,...,0.700,NaN,NaN,85.0,62,NaN,NaN,NaN,110,155
3,1952,Minneapolis Lakers,New York Knicks,556,Slater Martin,PG,26,MNL,Minneapolis Lakers,66,...,0.747,NaN,NaN,228.0,249,NaN,NaN,NaN,226,616
4,1952,Minneapolis Lakers,New York Knicks,565,George Mikan,C,27,MNL,Minneapolis Lakers,64,...,0.780,NaN,NaN,866.0,194,NaN,NaN,NaN,286,1523

In [6]:
# # Create a new DataFrame with only the Year and the name of the Player who won a championship
# player_winning_df = winning_team_df[["Year", "Player"]]
# player_winning_df

In [7]:
# Create a new DataFrame with only the Year and the name of the Player who won a championship
player_winning_df = winning_team_df[["Year", "Player"]]
player_winning_df["Championship Wins"] = 1
player_winning_df

<ipython-input-7-ff010aa824c2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_winning_df["Championship Wins"] = 1

     Year            Player  Championship Wins
0    1952      Bob Harrison                  1
1    1952         Lew Hitch                  1
2    1952        Joe Hutton                  1
3    1952     Slater Martin                  1
4    1952      George Mikan                  1
..    ...               ...                ...
881  2017     Zaza Pachulia                  1
882  2017     Klay Thompson                  1
883  2017  Anderson Varejao                  1
884  2017     Briante Weber                  1
885  2017        David West                  1

[886 rows x 3 columns]

In [8]:
# # Use GroupBy to count the number of times a player was on a championship team
# winner_stats_df = player_winning_df.groupby("Player").count()
# winner_stats_df.rename(columns = {"Year" : "Championship Wins"}, inplace = True)
# winner_stats_df.reset_index(inplace = True)
# winner_stats_df

In [9]:
# Merge championship data with player data to find players on runner up teams
runnerup_team_df = pd.merge(champion_data, player_data_df, how="inner",\
                            left_on = ["Year", "Runner Up"], right_on = ["Year", "Team"])
runnerup_team_df.head()

,Year,Winners,Runner Up,Unnamed: 0,Player,Pos,Age,Tm,Team,G,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1951,Rochester Royals,New York Knicks,325,Vince Boryla,SF,23,NYK,New York Knicks,66,...,0.837,NaN,NaN,249.0,182,NaN,NaN,NaN,244,982
1,1951,Rochester Royals,New York Knicks,345,Nat Clifton,PF,28,NYK,New York Knicks,65,...,0.532,NaN,NaN,491.0,162,NaN,NaN,NaN,269,562
2,1951,Rochester Royals,New York Knicks,359,Ray Ellefson,C,28,NYK,New York Knicks,3,...,1.000,NaN,NaN,8.0,0,NaN,NaN,NaN,6,4
3,1951,Rochester Royals,New York Knicks,364,Harry Gallatin,F-C,23,NYK,New York Knicks,66,...,0.732,NaN,NaN,800.0,180,NaN,NaN,NaN,244,845
4,1951,Rochester Royals,New York Knicks,388,Gene James,F,25,NYK,New York Knicks,6,...,0.500,NaN,NaN,4.0,4,NaN,NaN,NaN,7,3

In [10]:
# # Create a new DataFrame with only the Year and the name of the Player
# runnerup_df = runnerup_team_df[["Year", "Player"]]
# player_runnerup_df = runnerup_df[runnerup_df['Year'] > 1951]
# player_runnerup_df

In [11]:
# Create a new DataFrame with only the Year and the name of the Player
runnerup_df = runnerup_team_df[["Year", "Player"]]
player_runnerup_df = runnerup_df[runnerup_df['Year'] > 1951]
player_runnerup_df["RunnerUp Count"] = 1
player_runnerup_df

<ipython-input-11-c4aa077768a6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_runnerup_df["RunnerUp Count"] = 1

     Year            Player  RunnerUp Count
13   1952      Vince Boryla               1
14   1952       Nat Clifton               1
15   1952    Harry Gallatin               1
16   1952     George Kaftan               1
17   1952         Ray Lumpp               1
..    ...               ...             ...
877  2017        J.R. Smith               1
878  2017       Edy Tavares               1
879  2017  Tristan Thompson               1
880  2017    Deron Williams               1
881  2017  Derrick Williams               1

[869 rows x 3 columns]

In [12]:
# # Use GroupBy to count the number of times a player was on a Runnerup Team
# runnerup_stats_df = player_runnerup_df.groupby("Player").count()
# runnerup_stats_df.rename(columns = {"Year" : "RunnerUp Count"}, inplace = True)
# runnerup_stats_df.reset_index(inplace = True)
# runnerup_stats_df

In [13]:
# # Merge the count of championships won by players with the players DataFrame
# players_updated_df = pd.merge(winner_stats_df, player_data_df, how="right", on = "Player")
# players_updated_df

In [14]:
# Merge the count of championships won by players with the players DataFrame
players_updated_df = pd.merge(player_winning_df, player_data_df, how="right", on = ["Player", "Year"])
players_updated_df

,Year,Player,Championship Wins,Unnamed: 0,Pos,Age,Tm,Team,G,GS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1951,Paul Arizin,NaN,313,SF,22,PHW,Philadelphia Warriors,65,NaN,...,0.793,NaN,NaN,640.0,138,NaN,NaN,NaN,284,1121
1,1951,Curly Armstrong,NaN,314,G-F,32,FTW,Fort Wayne Pistons,38,NaN,...,0.644,NaN,NaN,89.0,77,NaN,NaN,NaN,97,202
2,1951,Ed Bartels,NaN,317,F,25,WSC,Washington Capitals,17,NaN,...,0.522,NaN,NaN,84.0,12,NaN,NaN,NaN,54,72
3,1951,Ed Beach,NaN,319,F,22,MNL,Minneapolis Lakers,11,NaN,...,0.667,NaN,NaN,25.0,2,NaN,NaN,NaN,14,22
4,1951,Nelson Bobb,NaN,323,PG,26,PHW,Philadelphia Warriors,53,NaN,...,0.557,NaN,NaN,101.0,82,NaN,NaN,NaN,83,148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21729,2017,Cody Zeller,NaN,24686,PF,24,CHO,Charlotte Hornets,62,58.0,...,0.679,135.0,270.0,405.0,99,62.0,58.0,65.0,189,639
21730,2017,Tyler Zeller,NaN,24687,C,27,BOS,Boston Celtics,51,5.0,...,0.564,43.0,81.0,124.0,42,7.0,21.0,20.0,61,178
21731,2017,Stephen Zimmerman,NaN,24688,C,20,ORL,Orlando Magic,19,0.0,...,0.600,11.0,24.0,35.0,4,2.0,5.0,3.0,17,23
21732,2017,Paul Zipser,NaN,24689,SF,22,CHI,Chicago Bulls,44,18.0,...,0.775,15.0,110.0,125.0,36,15.0,16.0,40.0,78,240
21733,2017,Ivica Zubac,NaN,24690,C,19,LAL,Los Angeles Lakers,38,11.0,...,0.653,41.0,118.0,159.0,30,14.0,33.0,30.0,66,284

In [15]:
# Merge the count of times players were in runner up teams with the updated player DataFrame
players_complete_df = players_updated_df.merge(player_runnerup_df, how = "left", on = ["Player", "Year"])
players_complete_df

,Year,Player,Championship Wins,Unnamed: 0,Pos,Age,Tm,Team,G,GS,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,RunnerUp Count
0,1951,Paul Arizin,NaN,313,SF,22,PHW,Philadelphia Warriors,65,NaN,...,NaN,NaN,640.0,138,NaN,NaN,NaN,284,1121,NaN
1,1951,Curly Armstrong,NaN,314,G-F,32,FTW,Fort Wayne Pistons,38,NaN,...,NaN,NaN,89.0,77,NaN,NaN,NaN,97,202,NaN
2,1951,Ed Bartels,NaN,317,F,25,WSC,Washington Capitals,17,NaN,...,NaN,NaN,84.0,12,NaN,NaN,NaN,54,72,NaN
3,1951,Ed Beach,NaN,319,F,22,MNL,Minneapolis Lakers,11,NaN,...,NaN,NaN,25.0,2,NaN,NaN,NaN,14,22,NaN
4,1951,Nelson Bobb,NaN,323,PG,26,PHW,Philadelphia Warriors,53,NaN,...,NaN,NaN,101.0,82,NaN,NaN,NaN,83,148,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21729,2017,Cody Zeller,NaN,24686,PF,24,CHO,Charlotte Hornets,62,58.0,...,135.0,270.0,405.0,99,62.0,58.0,65.0,189,639,NaN
21730,2017,Tyler Zeller,NaN,24687,C,27,BOS,Boston Celtics,51,5.0,...,43.0,81.0,124.0,42,7.0,21.0,20.0,61,178,NaN
21731,2017,Stephen Zimmerman,NaN,24688,C,20,ORL,Orlando Magic,19,0.0,...,11.0,24.0,35.0,4,2.0,5.0,3.0,17,23,NaN
21732,2017,Paul Zipser,NaN,24689,SF,22,CHI,Chicago Bulls,44,18.0,...,15.0,110.0,125.0,36,15.0,16.0,40.0,78,240,NaN
21733,2017,Ivica Zubac,NaN,24690,C,19,LAL,Los Angeles Lakers,38,11.0,...,41.0,118.0,159.0,30,14.0,33.0,30.0,66,284,NaN

In [16]:
# Use the count function to check for blanks
players_complete_df.count()

Year                 21734
Player               21734
Championship Wins      980
Unnamed: 0           21734
Pos                  21734
Age                  21734
Tm                   21734
Team                 21734
G                    21734
GS                   16658
MP                   21628
PER                  21618
TS%                  21648
3PAr                 17203
FTr                  21635
ORB%                 18989
DRB%                 18989
TRB%                 19659
AST%                 20432
STL%                 18989
BLK%                 18989
TOV%                 17871
USG%                 17929
blanl                    0
OWS                  21729
DWS                  21729
WS                   21729
WS/48                21618
blank2                   0
OBPM                 18994
DBPM                 18994
BPM                  18994
VORP                 18994
FG                   21734
FGA                  21734
FG%                  21635
3P                   17291
3PA                  17291
3P%                  14059
2P                   21734
2PA                  21734
2P%                  21606
eFG%                 21635
FT                   21734
FTA                  21734
FT%                  20923
ORB                  18994
DRB                  18994
TRB                  21734
AST                  21734
STL                  18994
BLK                  18994
TOV                  17934
PF                   21734
PTS                  21734
RunnerUp Count         993
dtype: int64

In [17]:
# Create a new DataFrame with select columns that demonstrate a player's performance
# Replace NaN with 0
final_df = players_complete_df[["Year", "Player", "Pos", 'Age', "Team",\
                                'Championship Wins', 'RunnerUp Count', 'TRB', 'AST',\
                                'STL', 'BLK', 'TOV', 'PF', 'PER','FG%', '3P%', 'FTA','FT%', 'PTS']]

In [18]:
final_df.loc[final_df['Championship Wins'] > 0, 'Championship Appearance Y/N'] = 1
final_df.loc[final_df['RunnerUp Count'] > 0, 'Championship Appearance Y/N'] = 1
final_df = final_df.fillna(0)
final_df
# test = np.where((final_df['Championship Wins']) != 0| to_numberic(final_df['RunnerUp Count']) != 0, '1', '0')
# test
# df.loc[df['set_of_numbers'] <= 4, 'equal_or_lower_than_4?'] = 'True' 
# df.loc[df['set_of_numbers'] > 4, 'equal_or_lower_than_4?'] = 'False'

C:\Users\bisma\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\bisma\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\bisma\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Year,Player,Pos,Age,Team,Championship Wins,RunnerUp Count,TRB,AST,STL,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
0,1951,Paul Arizin,SF,22,Philadelphia Warriors,0.0,0.0,640.0,138,0.0,0.0,0.0,284,0.0,0.407,0.000,526,0.793,1121,0.0
1,1951,Curly Armstrong,G-F,32,Fort Wayne Pistons,0.0,0.0,89.0,77,0.0,0.0,0.0,97,0.0,0.310,0.000,90,0.644,202,0.0
2,1951,Ed Bartels,F,25,Washington Capitals,0.0,0.0,84.0,12,0.0,0.0,0.0,54,0.0,0.247,0.000,46,0.522,72,0.0
3,1951,Ed Beach,F,22,Minneapolis Lakers,0.0,0.0,25.0,2,0.0,0.0,0.0,14,0.0,0.229,0.000,9,0.667,22,0.0
4,1951,Nelson Bobb,PG,26,Philadelphia Warriors,0.0,0.0,101.0,82,0.0,0.0,0.0,83,0.0,0.329,0.000,79,0.557,148,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21729,2017,Cody Zeller,PF,24,Charlotte Hornets,0.0,0.0,405.0,99,62.0,58.0,65.0,189,16.7,0.571,0.000,196,0.679,639,0.0
21730,2017,Tyler Zeller,C,27,Boston Celtics,0.0,0.0,124.0,42,7.0,21.0,20.0,61,13.0,0.494,0.000,39,0.564,178,0.0
21731,2017,Stephen Zimmerman,C,20,Orlando Magic,0.0,0.0,35.0,4,2.0,5.0,3.0,17,7.3,0.323,0.000,5,0.600,23,0.0
21732,2017,Paul Zipser,SF,22,Chicago Bulls,0.0,0.0,125.0,36,15.0,16.0,40.0,78,6.9,0.398,0.333,40,0.775,240,0.0
21733,2017,Ivica Zubac,C,19,Los Angeles Lakers,0.0,0.0,159.0,30,14.0,33.0,30.0,66,17.0,0.529,0.000,49,0.653,284,0.0

In [19]:
final_df.dtypes

Year                             int64
Player                          object
Pos                             object
Age                              int64
Team                            object
Championship Wins              float64
RunnerUp Count                 float64
TRB                            float64
AST                              int64
STL                            float64
BLK                            float64
TOV                            float64
PF                               int64
PER                            float64
FG%                            float64
3P%                            float64
FTA                              int64
FT%                            float64
PTS                              int64
Championship Appearance Y/N    float64
dtype: object

In [20]:
# Save DataFrame to csv
final_df.to_csv("data/final_dataset.csv", index = False)

In [21]:
final_df.count()

Year                           21734
Player                         21734
Pos                            21734
Age                            21734
Team                           21734
Championship Wins              21734
RunnerUp Count                 21734
TRB                            21734
AST                            21734
STL                            21734
BLK                            21734
TOV                            21734
PF                             21734
PER                            21734
FG%                            21734
3P%                            21734
FTA                            21734
FT%                            21734
PTS                            21734
Championship Appearance Y/N    21734
dtype: int64

### Salary Data

In [22]:
salary_data["truesalary"] = salary_data["truesalary"].str.replace('$','')
salary_data["truesalary"] = salary_data["truesalary"].str.replace(',','')
salary_data_df = salary_data[salary_data['year'] != 2016]
salary_data_df

,year,tm,player,age,g,mp,per,ts,3par,ftr,...,d_worp,adjusted_worp,estimated_position,bbref_pos,age_on_feb_1,yrs_experience,height,weight,rounded_position,rounded_age
0,1978,NOJ,Truck Robinson,26,82,3638,15.7,0.481,NaN,0.340,...,1.1,1.1,3.6,4.0,26.33,3.0,79.0,225.0,4.0,26.0
1,1978,BUF,Randy Smith,29,82,3314,19.1,0.521,NaN,0.326,...,-2.3,7.4,1.0,2.0,29.14,6.0,75.0,180.0,1.0,29.0
2,1978,WSB,Elvin Hayes,32,81,3246,17.1,0.489,NaN,0.365,...,3.4,6.5,4.2,4.0,32.21,9.0,81.0,235.0,4.0,32.0
3,1978,BOS,Dave Cowens,29,77,3215,18.6,0.533,NaN,0.233,...,6.1,12.5,3.9,5.0,29.27,7.0,81.0,230.0,4.0,29.0
4,1978,NYK,Bob McAdoo,26,79,3182,22.0,0.567,NaN,0.412,...,2.6,10.6,3.6,5.0,26.36,5.0,81.0,210.0,4.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16854,2015,UTA,Jerrelle Benimon,23,2,3,4.7,0.000,0.0,0.000,...,0.0,0.0,5.0,4.0,23.50,0.0,80.0,245.0,5.0,24.0
16855,2015,SAC,Sim Bhullar,22,3,3,44.3,0.500,0.0,0.000,...,0.0,0.0,5.0,5.0,22.17,0.0,89.0,360.0,5.0,22.0
16856,2015,SAC,Eric Moreland,23,3,2,40.8,1.000,0.0,0.000,...,0.0,0.0,5.0,4.0,23.11,0.0,82.0,238.0,5.0,23.0
16857,2015,PHI,Malcolm Lee,24,1,2,-19.7,0.000,0.0,0.000,...,0.0,0.0,1.7,2.0,24.70,2.0,77.0,200.0,2.0,25.0
16858,2015,UTA,Toure' Murry,25,1,1,-41.7,0.000,0.0,0.000,...,0.0,0.0,1.7,1.0,25.23,1.0,77.0,195.0,2.0,25.0

In [23]:
salary_final_df = salary_data_df[["year", "player", "truesalary"]]
salary_final_df.dropna(inplace = True)
salary_final_df.truesalary = pd.to_numeric(salary_final_df.truesalary, errors='coerce')
salary_final_df

<ipython-input-23-bd1fdf631a11>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_final_df.dropna(inplace = True)
C:\Users\bisma\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

       year          player  truesalary
0      1978  Truck Robinson     8800000
1      1978     Randy Smith    14800000
2      1978     Elvin Hayes    14700000
3      1978     Dave Cowens    20600000
4      1978      Bob McAdoo    18500000
...     ...             ...         ...
16797  2015     Austin Daye      600000
16801  2015   Ognjen Kuzmic      700000
16805  2015     Tim Frazier      700000
16816  2015   Lester Hudson      900000
16824  2015      Russ Smith      900000

[12035 rows x 3 columns]

In [24]:
player_salary_df = salary_final_df.merge(final_df, how = "inner", left_on = ["year", "player"], right_on = ["Year", "Player"])
player_salary_df.drop(columns = ["year", "player"], inplace = True)
player_salary_df.rename(columns = {"truesalary" : "Salary"}, inplace = True)
player_salary_df

,Salary,Year,Player,Pos,Age,Team,Championship Wins,RunnerUp Count,TRB,AST,...,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
0,8800000,1978,Truck Robinson,PF,26,New Orleans Jazz,0.0,0.0,1288.0,171,...,79.0,301.0,265,15.7,0.444,0.000,572,0.640,1862,0.0
1,14800000,1978,Randy Smith,SG,29,Buffalo Braves,0.0,0.0,310.0,458,...,11.0,286.0,224,19.1,0.465,0.000,554,0.800,2021,0.0
2,14700000,1978,Elvin Hayes,PF,32,Washington Bullets,1.0,0.0,1075.0,149,...,159.0,229.0,313,17.1,0.451,0.000,514,0.634,1598,1.0
3,20600000,1978,Dave Cowens,C,29,Boston Celtics,0.0,0.0,1078.0,351,...,67.0,217.0,297,18.6,0.490,0.000,284,0.842,1435,0.0
4,18500000,1978,Bob McAdoo,C,26,New York Knicks,0.0,0.0,1010.0,298,...,126.0,346.0,297,22.0,0.520,0.000,645,0.727,2097,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13800,700000,2015,Tim Frazier,PG,24,Philadelphia 76ers,0.0,0.0,19.0,43,...,0.0,18.0,16,5.9,0.302,0.273,15,0.333,34,0.0
13801,700000,2015,Tim Frazier,PG,24,Portland Trail Blazers,0.0,0.0,9.0,17,...,0.0,7.0,10,13.7,0.444,0.333,6,0.833,23,0.0
13802,900000,2015,Lester Hudson,SG,30,Los Angeles Clippers,0.0,0.0,8.0,5,...,1.0,3.0,4,16.0,0.429,0.500,4,0.750,18,0.0
13803,900000,2015,Russ Smith,PG,23,New Orleans Pelicans,0.0,0.0,3.0,2,...,0.0,7.0,6,-16.6,0.200,0.167,0,0.000,5,0.0
13804,900000,2015,Russ Smith,PG,23,Memphis Grizzlies,0.0,0.0,3.0,6,...,0.0,5.0,7,22.7,0.400,0.200,13,0.923,25,0.0

In [25]:
# Save DataFrame to csv
player_salary_df.to_csv("data/Salary_Stats_clean.csv", index = False)

## Filter for only one salary record per player

In [26]:
unique_salary_df = player_salary_df.drop_duplicates("Player", keep = "last")
unique_salary_df

,Salary,Year,Player,Pos,Age,Team,Championship Wins,RunnerUp Count,TRB,AST,...,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
21,6800000,1978,John Havlicek,SF,37,Boston Celtics,0.0,0.0,332.0,328,...,22.0,204.0,185,14.3,0.449,0.000,269,0.855,1322,0.0
65,2900000,1978,Dave Bing,PG,34,Boston Celtics,0.0,0.0,212.0,300,...,18.0,216.0,247,13.4,0.449,0.000,296,0.824,1088,0.0
94,800000,1978,Chuck Williams,PG,31,Buffalo Braves,0.0,0.0,137.0,317,...,4.0,156.0,137,9.5,0.477,0.000,138,0.826,530,0.0
101,6100000,1978,Butch Beard,PG,30,New York Knicks,0.0,0.0,264.0,339,...,3.0,154.0,201,14.6,0.502,0.000,160,0.806,745,0.0
125,4000000,1978,E.C. Coleman,PF,27,Golden State Warriors,0.0,0.0,376.0,100,...,23.0,95.0,253,9.1,0.475,0.000,55,0.727,464,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13798,600000,2015,Austin Daye,SF,26,Atlanta Hawks,0.0,0.0,14.0,8,...,2.0,5.0,9,12.1,0.385,0.357,2,0.500,26,0.0
13799,700000,2015,Ognjen Kuzmic,C,24,Golden State Warriors,1.0,0.0,17.0,6,...,1.0,5.0,13,12.9,0.667,0.000,4,1.000,20,1.0
13801,700000,2015,Tim Frazier,PG,24,Portland Trail Blazers,0.0,0.0,9.0,17,...,0.0,7.0,10,13.7,0.444,0.333,6,0.833,23,0.0
13802,900000,2015,Lester Hudson,SG,30,Los Angeles Clippers,0.0,0.0,8.0,5,...,1.0,3.0,4,16.0,0.429,0.500,4,0.750,18,0.0
13804,900000,2015,Russ Smith,PG,23,Memphis Grizzlies,0.0,0.0,3.0,6,...,0.0,5.0,7,22.7,0.400,0.200,13,0.923,25,0.0

In [27]:
# Save DataFrame to csv
unique_salary_df.to_csv("data/Unique_Salary_clean.csv", index = False)

## Average Salary and Performance

In [28]:
average_player_salary_df = player_salary_df.groupby("Player").mean()
average_player_salary_df

,Salary,Year,Age,Championship Wins,RunnerUp Count,TRB,AST,STL,BLK,TOV,PF,PER,FG%,3P%,FTA,FT%,PTS,Championship Appearance Y/N
Player,,,,,,,,,,,,,,,,,,
A.C. Green,7.157895e+06,1994.052632,30.052632,0.157895,0.105263,533.105263,77.315789,58.052632,29.578947,79.368421,135.842105,13.763158,0.487263,0.139579,234.052632,0.704842,680.421053,0.263158
A.J. English,1.000000e+06,1991.000000,23.000000,0.000000,0.000000,147.000000,177.000000,25.000000,15.000000,114.000000,127.000000,10.600000,0.439000,0.097000,157.000000,0.707000,616.000000,0.000000
A.J. Price,8.857143e+05,2013.000000,26.000000,0.000000,0.428571,52.428571,79.142857,17.714286,1.285714,31.714286,33.142857,10.257143,0.344571,0.235714,39.571429,0.627286,211.285714,0.428571
Aaron Brooks,2.192857e+06,2012.000000,27.000000,0.000000,0.000000,79.285714,147.571429,27.428571,6.000000,75.500000,87.500000,12.735714,0.399357,0.350786,86.785714,0.794786,475.000000,0.000000
Aaron Gordon,7.000000e+05,2015.000000,19.000000,0.000000,0.000000,169.000000,33.000000,21.000000,22.000000,38.000000,83.000000,11.400000,0.447000,0.271000,61.000000,0.721000,243.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zaza Pachulia,3.660000e+06,2010.200000,25.200000,0.000000,0.000000,417.900000,92.400000,53.100000,26.400000,100.600000,189.100000,14.250000,0.467600,0.000000,206.500000,0.751200,518.200000,0.000000
Zeljko Rebraca,7.833333e+05,2004.000000,31.000000,0.333333,0.000000,114.666667,14.666667,9.500000,26.666667,33.833333,85.333333,13.100000,0.516000,0.000000,63.166667,0.744000,212.666667,0.333333
Zendon Hamilton,9.000000e+05,2004.000000,28.000000,0.000000,0.000000,146.000000,13.000000,8.000000,8.000000,27.000000,74.000000,15.900000,0.537000,0.000000,96.000000,0.698000,169.000000,0.000000
Zoran Planinic,7.000000e+05,2005.000000,22.000000,0.000000,0.000000,69.000000,44.000000,25.000000,0.000000,41.000000,76.000000,12.500000,0.448000,0.375000,66.000000,0.697000,217.000000,0.000000
Zydrunas Ilgauskas,5.953846e+06,2004.846154,28.846154,0.000000,0.153846,476.230769,73.461538,32.384615,102.076923,116.076923,213.538462,17.769231,0.478385,0.129615,249.461538,0.760692,844.307692,0.153846

In [29]:
# Save DataFrame to csv
average_player_salary_df.to_csv("data/Average_Salary_clean.csv", index = False)