In [83]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
player_data_to_load = "data/Seasons_Stats_current.csv"
champion_data_to_load = "data/championsdata_winner.csv"
runner_up_data_to_load = "data/runnerupsdata.csv"

# Read School and Student Data File and store into Pandas DataFrames
player_data = pd.read_csv(player_data_to_load)
champion_data = pd.read_csv(champion_data_to_load)
runnerup_data = pd.read_csv(runner_up_data_to_load)


# Combine the data into a single dataset.  
#school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#school_data_complete

In [84]:
champion_data

,Year,Team,Game,Win,Home,MP,FG,FGA,FGP,TP,...,FTP,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980,Los Angeles Lakers,1,1,1,240,48,89,0.539,0,...,0.867,12,31,43,30,5,9,17,24,109
1,1980,Los Angeles Lakers,2,0,1,240,48,95,0.505,0,...,0.667,15,37,52,32,12,7,26,27,104
2,1980,Los Angeles Lakers,3,1,0,240,44,92,0.478,0,...,0.767,22,34,56,20,5,5,20,25,111
3,1980,Los Angeles Lakers,4,0,0,240,44,93,0.473,0,...,0.737,18,31,49,23,12,6,19,22,102
4,1980,Los Angeles Lakers,5,1,1,240,41,91,0.451,0,...,0.788,19,37,56,28,7,6,21,27,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,2017,Golden State Warriors,5,1,1,240,46,90,0.511,14,...,0.821,13,29,42,27,8,2,13,24,129
216,2018,Golden State Warriors,1,1,1,265,46,90,0.511,13,...,0.950,4,34,38,31,10,6,7,18,124
217,2018,Golden State Warriors,2,1,1,240,47,82,0.573,15,...,0.619,7,34,41,28,3,8,12,25,122
218,2018,Golden State Warriors,3,1,0,240,42,81,0.519,9,...,0.895,6,31,37,27,6,5,10,20,110
219,2018,Golden State Warriors,4,1,0,240,39,86,0.453,14,...,1.000,10,34,44,25,7,13,8,24,108

In [85]:
player_data

,Unnamed: 0,Year,Player,Pos,Age,Tm,name,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,5727,1980,Kareem Abdul-Jabbar*,C,32,LAL,Los Angeles Lakers,82,NaN,3143,...,0.765,190,696,886,371,81,280,297,216,2034
1,5728,1980,Tom Abernethy,PF,25,GSW,Golden State Warriors,67,NaN,1222,...,0.683,62,129,191,87,35,12,39,118,362
2,5729,1980,Alvan Adams,C,25,PHO,Phoenix Suns,75,NaN,2168,...,0.797,158,451,609,322,108,55,218,237,1118
3,5730,1980,Tiny Archibald*,PG,31,BOS,Boston Celtics,80,80.0,2864,...,0.830,59,138,197,671,106,10,242,218,1131
4,5731,1980,Dennis Awtrey,C,31,CHI,Chicago Bulls,26,NaN,560,...,0.640,29,86,115,40,12,15,27,66,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17286,24686,2017,Cody Zeller,PF,24,CHO,Charlotte Hornets,62,58.0,1725,...,0.679,135,270,405,99,62,58,65,189,639
17287,24687,2017,Tyler Zeller,C,27,BOS,Boston Celtics,51,5.0,525,...,0.564,43,81,124,42,7,21,20,61,178
17288,24688,2017,Stephen Zimmerman,C,20,ORL,Orlando Magic,19,0.0,108,...,0.600,11,24,35,4,2,5,3,17,23
17289,24689,2017,Paul Zipser,SF,22,CHI,Chicago Bulls,44,18.0,843,...,0.775,15,110,125,36,15,16,40,78,240
17290,24690,2017,Ivica Zubac,C,19,LAL,Los Angeles Lakers,38,11.0,609,...,0.653,41,118,159,30,14,33,30,66,284

In [86]:
#just need year and Team name

winner_summary = champion_data[{"Year","Team"}]
winner_summary

     Year                   Team
0    1980     Los Angeles Lakers
1    1980     Los Angeles Lakers
2    1980     Los Angeles Lakers
3    1980     Los Angeles Lakers
4    1980     Los Angeles Lakers
..    ...                    ...
215  2017  Golden State Warriors
216  2018  Golden State Warriors
217  2018  Golden State Warriors
218  2018  Golden State Warriors
219  2018  Golden State Warriors

[220 rows x 2 columns]

In [45]:
runnerup_summary = runnerup_data[{"Year","Team"}]
runnerup_summary

     Year                 Team
0    1980  Philadelephia 76ers
1    1980  Philadelephia 76ers
2    1980  Philadelephia 76ers
3    1980  Philadelephia 76ers
4    1980  Philadelephia 76ers
..    ...                  ...
215  2017  Cleveland Cavaliers
216  2018  Cleveland Cavaliers
217  2018  Cleveland Cavaliers
218  2018  Cleveland Cavaliers
219  2018  Cleveland Cavaliers

[220 rows x 2 columns]

In [46]:
#get a merged list of all winners runner up or champion
championship_complete = pd.merge(winner_summary, runnerup_summary, how="inner", on=["Year", "Year"])

In [47]:
championship_complete

      Year                 Team_x               Team_y
0     1980     Los Angeles Lakers  Philadelephia 76ers
1     1980     Los Angeles Lakers  Philadelephia 76ers
2     1980     Los Angeles Lakers  Philadelephia 76ers
3     1980     Los Angeles Lakers  Philadelephia 76ers
4     1980     Los Angeles Lakers  Philadelephia 76ers
...    ...                    ...                  ...
1269  2018  Golden State Warriors  Cleveland Cavaliers
1270  2018  Golden State Warriors  Cleveland Cavaliers
1271  2018  Golden State Warriors  Cleveland Cavaliers
1272  2018  Golden State Warriors  Cleveland Cavaliers
1273  2018  Golden State Warriors  Cleveland Cavaliers

[1274 rows x 3 columns]

In [78]:
#rename 
rename_summary= championship_complete.rename(columns= {"Team_x": "Winner", "Team_y": "Runner_Up"})
rename_summary.head()

   Year              Winner            Runner_Up
0  1980  Los Angeles Lakers  Philadelephia 76ers
1  1980  Los Angeles Lakers  Philadelephia 76ers
2  1980  Los Angeles Lakers  Philadelephia 76ers
3  1980  Los Angeles Lakers  Philadelephia 76ers
4  1980  Los Angeles Lakers  Philadelephia 76ers

In [75]:
clean_winner_df = rename_summary.drop_duplicates(subset=['Year', 'Winner', "Runner_Up"], keep='first')

In [76]:
clean_winner_df.head(5)

     Year              Winner            Runner_Up
0    1980  Los Angeles Lakers  Philadelephia 76ers
36   1981      Boston Celtics      Houston Rockets
72   1982  Los Angeles Lakers  Philadelephia 76ers
108  1983  Philadelphia 76ers   Los Angeles Lakers
124  1984      Boston Celtics   Los Angeles Lakers

In [89]:
game_data_complete = pd.merge(clean_winner_df, player_data, how="inner", on=["Year", "Year"])

In [90]:
game_data_complete

,Year,Winner,Runner_Up,Unnamed: 0,Player,Pos,Age,Tm,name,G,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980,Los Angeles Lakers,Philadelephia 76ers,5727,Kareem Abdul-Jabbar*,C,32,LAL,Los Angeles Lakers,82,...,0.765,190,696,886,371,81,280,297,216,2034
1,1980,Los Angeles Lakers,Philadelephia 76ers,5728,Tom Abernethy,PF,25,GSW,Golden State Warriors,67,...,0.683,62,129,191,87,35,12,39,118,362
2,1980,Los Angeles Lakers,Philadelephia 76ers,5729,Alvan Adams,C,25,PHO,Phoenix Suns,75,...,0.797,158,451,609,322,108,55,218,237,1118
3,1980,Los Angeles Lakers,Philadelephia 76ers,5730,Tiny Archibald*,PG,31,BOS,Boston Celtics,80,...,0.830,59,138,197,671,106,10,242,218,1131
4,1980,Los Angeles Lakers,Philadelephia 76ers,5731,Dennis Awtrey,C,31,CHI,Chicago Bulls,26,...,0.640,29,86,115,40,12,15,27,66,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17286,2017,Golden State Warriors,Cleveland Cavaliers,24686,Cody Zeller,PF,24,CHO,Charlotte Hornets,62,...,0.679,135,270,405,99,62,58,65,189,639
17287,2017,Golden State Warriors,Cleveland Cavaliers,24687,Tyler Zeller,C,27,BOS,Boston Celtics,51,...,0.564,43,81,124,42,7,21,20,61,178
17288,2017,Golden State Warriors,Cleveland Cavaliers,24688,Stephen Zimmerman,C,20,ORL,Orlando Magic,19,...,0.600,11,24,35,4,2,5,3,17,23
17289,2017,Golden State Warriors,Cleveland Cavaliers,24689,Paul Zipser,SF,22,CHI,Chicago Bulls,44,...,0.775,15,110,125,36,15,16,40,78,240
17290,2017,Golden State Warriors,Cleveland Cavaliers,24690,Ivica Zubac,C,19,LAL,Los Angeles Lakers,38,...,0.653,41,118,159,30,14,33,30,66,284